html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
	font: 100% Lato, Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
    background-color: #0A158B;
	
}

/*#####footer*/

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   text-align: center;
   height: 100px;
   overflow: hidden;
   z-index: 99999999;
   padding-top: 1%;
   padding-bottom: 1%;
   overflow-y: scroll;
}


p > .animatedText {
  font-style: "Oswald", sans-serif;
  letter-spacing: 0;
  display: block;
  margin: 1% auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(../images/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  font-size: 25px;
  padding: 1%;
}

.footIcons {
  color: white;
}


@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*#####footer*/


