.navbar-light {
    color: purple;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    opacity: .9;
    text-align:center;
    vertical-align:middle;
    margin: 0 auto;
}

#navBartrue {
  color: black;
}

#navBarfalse {

}

#navActivetrue {
  background-color: red;
}

.icon-wrapper {
 font-size:3em;
  border-radius: 50%;
  border: solid black;
  color: black;
  line-height: 1.7em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  transition:0.2s;
}

#navBarfalse > div > div > a> .icon-wrapper {
  opacity: .1;
}

.icon-wrapper:hover {
  background-color: orange;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.navWrapper {
  height: 80%;
}



