.navbar-light {
    opacity: .9;
    text-align:center;
    vertical-align:middle;
    margin: 0 auto;
    z-index: 99999;
    padding-top: 50px;
    color: transparent;
}

#navBartrue {
  color: transparent;
}

#navBarfalse {

}

#navActivetrue {
background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);}

.icon-wrapper {
 font-size:3em;
  border-radius: 50%;
  border: solid white;
  color: white;
  line-height: 3em;
  width: 3em;
  height: 3em;
  text-align: center;
  display: inline-block;
  transition:0.2s;
  padding-top: 10%;
}

#navBarfalse > div > div > a> .icon-wrapper {
  opacity: .1;
}

.icon-wrapper:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.icon-wrapper.two {
  padding-left: 5%;
  padding-top: 14%;
}

.icon-wrapper.three {
  padding-left: 1%;
  padding-top: 14%
}

.icon-wrapper.faceBook {
  margin-top: 15%;
  background-color: #4468B0;
}

.icon-wrapper.instaGram {
  margin-top: 15%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.icon-wrapper.faceBook:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.center {
  margin: 0 auto;
  text-align: center;
}














