#bookincalendarContainer {
  margin: 0 auto;
  z-index: 9999;
  position: relative;
}

#bookingcalendar {
	height: 40%;
	margin: 0 auto;
	text-align: center;
  position: relative;
  margin: 0 auto;
   z-index: 999999;
}

#scrollContainer {
	margin-top: 20%;
	overflow: scroll;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}
body .container1, body .container2, body .container3, html .container1, html .container2, html .container3 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
body .container1, html .container1 {
  background-image: linear-gradient(#5583be, #eebaa5, #de7d8e 70%);
  z-index: 9998;
}
body .container2, html .container2 {
  background: #5583BE;
  z-index: 1;
}
body .container3, html .container3 {
  background-image: linear-gradient(#283142 20%, #ef4700 50%, #ff9919 70%);
  z-index: 1;
}
body .content, html .content {
  background-image: url('public../../../images/palmTreeBlack.png');
  background-size: 500px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 25%;
  left: -120px;
  z-index: 9999
}

@keyframes opacity-change1 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes opacity-change2 {
  0%, 100%, 50% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
}
@keyframes opacity-change3 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.container1 {
  -moz-animation: opacity-change1 linear 5s infinite;
  -webkit-animation: opacity-change1 linear 5s infinite;
  animation: opacity-change1 linear 5s infinite;
}

.container2 {
  -moz-animation: opacity-change2 linear 5s infinite;
  -webkit-animation: opacity-change2 linear 5s infinite;
  animation: opacity-change2 linear 5s infinite;
}

.container3 {
  -moz-animation: opacity-change3 linear 5s infinite;
  -webkit-animation: opacity-change3 linear 5s infinite;
  animation: opacity-change3 linear 5s infinite;
}
