.Modal-modal-0-1-3 {
  width:1200px;
}

#bookingCalendar{
  width: 100%;
  height: 1200px;
  margin: 10px 0 0 0 ;
}

#closeModalBtn {
	float: right;
}


/*body .container1, html .container1 {
  background-image: linear-gradient(#5583be, #eebaa5, #de7d8e 70%);
  z-index: 9998;
}*/




